/* Typo 3 Countrystat style */

#sidebar-wrapper ul.sidebar-nav li.spacer {
  height: 130px;
  margin: 0;
  background-color: transparent !important;
}



.language{
  position: fixed;
  right: 20px;
  top: 10px;

  .tx-srlanguagemenu-pi1{

    >div{
      display: inline-block;
      margin: 5px;
      text-transform: capitalize;


      &.NO{

        a{
          color: $fenix-text;
        }


      }

      &.CUR{

        a{
          color: $fx-cool-blue;
        }


      }


    }

  }

}

//LISTS

.tx-dynalist-pi1-recordlist  {padding-bottom: 0px;}


//NEWS

.article-image{

  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
}


.news-list{


  .list-image{
    height: 80px;
    background-color: $fenix-hr;
    background-image: url(img/camera.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 56px 39px;






    /* Default */

    @media (min-width: 768px) and (max-width: 991px) {
      height: 100px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      height: 120px;
    }

    @media (min-width: 1200px) {
      height: 170px;
    }

    .img-responsive{
      width: 100%;
    }

  }

  h2{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .tx-dynalist-pi1-recordlist{
    @include fx-no-border;
    border-bottom: 1px solid $fenix-hr;
    font-family: inherit;

    h1{
      font-size: 20px;
    }

    h2{
      font-size: 16px;
    }

    &:last-child{
      border-bottom: 0;
    }

  }


}

.cstat-documents{
  .list-image {
    background-image: url(img/download.svg);
    background-color: transparent;
    height: 50px;

    /* Default */

    @media (min-width: 768px) and (max-width: 991px) {
      height: 100px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      height: 100px;
    }

    @media (min-width: 1200px) {
      height: 100px;
    }


  }
}

.cstat-links{
  .list-image {
    background-image: url(img/link.svg);
    background-color: transparent;
    height: 50px;

    /* Default */

    @media (min-width: 768px) and (max-width: 991px) {
      height: 100px;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      height: 100px;
    }

    @media (min-width: 1200px) {
      height: 100px;
    }


  }
}




.cstat-news-image{
  background-size: cover;
  height: 100%;
  background-position: center center;
}

div.tx-dynalist-pi1-pagination{
  @include fx-no-border;



  a.paginate {
    font-family: Roboto;
    color:$fx-cool-blue;
    border: 1px solid $fx-cool-blue;

    &:hover{
      background-color: $fx-cool-blue;
      color: white;
      text-decoration: none;
    }

  }


  a.current {
    font-family: Roboto;
    font-size: 12px;
    border: 1px solid $fx-cool-blue;
    padding: 2px 6px 2px 6px;
    cursor: default;
    background: $fx-cool-blue;
    color: white;
    text-decoration: none;

    &:hover{
      background-color: $fx-cool-blue;
      color: white;
      text-decoration: underline;
    }

  }


}


/* Key Indicators */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


.news-content{
  p{
    display: none;
  }
}

//Override

.cat-filter-container{

  .has-success .form-control {
    border-color: rgb(204, 204, 204);

    &:focus{
      border-color: rgb(204, 204, 204);
      @include fx-noshadow();
    }

  }



}

